 <div id="footer" class="container-fluid bg-wrap pb-0 mb-0 justify-content-center">
     <footer>
         <div class="row justify-content-center py-3">
             <div class="col-11">
                 <div class="row ">
                     <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end footer-spacer">
                         <small class="rights text-secondary"><span>&#174;</span>STG Djangocon US 2022</small>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                         <h6 class="mt-55 mt-2 text-muted bold-text"><b></b></h6><small> <span></span> </small>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-1">
                        
                     </div>
                 </div>
             </div>
         </div>
     </footer>
 </div>
