{% extends "content/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
AWS Certifications - Password Reset
{% endblock %}

{% block header %}
    Reset Password
{% endblock %}

{% block content %}
<div class="col-md-4 col-md-6 p-0">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}