{% extends "content/base.html" %}

{% block title %}
AWS Certifications - Password Reset
{% endblock %}

{% block content %}
<div class="col-md-4 col-md-6 p-0">
    <div class="alert alert-info alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Your password has been set.
    </div>
    <a href="{% url 'login' %}">Sign In Here</a>
</div>
{% endblock content %}