{% extends "content/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
AWS Certifications - Register
{% endblock %}

{% block header %}
Register
{% endblock %}

{% block content %}
<div class="col-md-4 col-sm-6 p-0">
    <form method="POST" class="login">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Register</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small>
            Already have an Account? <a class="ml-2" href="{% url "login" %}">Login Now</a>
        </small>
        <br>
        <small class="text-muted">
            <a href="{% url 'password_reset' %}">Forgot Password?</a>
        </small>
    </div>
</div>
{% endblock %}