{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}
        <link rel="stylesheet" href="{% static 'content/css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static 'content/images/favicon.ico' %}"/>
  </head>
  <body>
    
    <div class="wrapper d-flex align-items-stretch">
        {% include "content/partials/sidebar.html" %}

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5 mt-3">
        <h2 class="mb-4">
            {% block header %}
            {% endblock %}
        </h2>

        {% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }} alert-dismissable" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				{{ message|safe }}
				</div>
			{% endfor %}
		{% endif %}
		
        {% block content %}
        {% endblock %}
        </div>
    </div>

    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="{% static "content/js/main.js" %}"></script>
    {% endblock %}

    {% include "content/partials/footer.html" %}
  </body>
</html>
