{% extends "content/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block header %}
Dashboard
{% endblock %}

{% block content %}
    <h5>Dashboard</h5>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eaque nulla beatae atque quia, reprehenderit illo et molestias quam minima corporis fuga quibusdam quaerat officiis aut nihil eveniet! Non, maiores! Voluptate modi tempore qui nostrum natus error est atque? Neque odio architecto aspernatur! Similique rerum deleniti deserunt culpa, ullam esse.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum labore architecto totam recusandae dolore quod.
    </p>

{% endblock %}
