{% extends "content/base.html" %}

{% block title %}
STG Djangocon US 2022
{% endblock %}

{% block header %}
STG Djangocon US 2022
{% endblock %}

{% block content %}
    <h5>Introduction</h5>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam quasi asperiores, vel dolorum reiciendis numquam beatae sit dolores et dolorem tempore quod commodi unde eaque. Atque dolorum mollitia eius repudiandae!
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur debitis pariatur ex doloribus at porro tenetur assumenda neque, numquam dignissimos adipisci ratione perferendis ducimus a explicabo ipsum aspernatur? Nulla dignissimos ipsum temporibus a excepturi repellat, nam voluptatibus illo architecto blanditiis.
    </p>

    <h5>Requirements:</h5>
    <ul>
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
    </ul>

{% endblock %}
