{% extends "content/base.html" %}

{% block title %}
STG Djangocon US 2022
{% endblock %}

{% block header %}
STG Djangocon US 2022
{% endblock %}

{% block content %}
    <h5>Introduction</h5>
    <p>
        IT certifications are highly sought after these days with virtually every company relying on the cloud. With AWS being the clear market leader in the cloud, it is a given for any person that wants to take the next step in their career to go for an AWS certification.
    </p>
    <p>
        There are many study guides and practice exams out there but most are all throttled with ads, captchas, and paywalls. Due to frustration while studying for my Cloud Practitioner exam, I decided to create my own study guide to solve this issue. I am now making it available for others to take advantage of now!
    </p>

    <h5>List of AWS Certification Study Materials:</h5>
    <ul>
        <li>AWS Certified Cloud Practitioner Flash Cards</li>
        <li>AWS Certified Cloud Practitioner Practice Quiz</li>
        <li>AWS Certified Cloud Practitioner Practice Exam</li>
    </ul>

{% endblock %}
