<div id="paypal-button-container"></div>

<!-- Include the PayPal JavaScript SDK -->
<script
    src="https://www.paypal.com/sdk/js?client-id=AeB3UDRe4yUms0zLj4FwP03CKsRBgmjVQcLjFV53rRSRlds_ld8s1nFBElq24Xg12sG97ib02Pe_89sz&currency=USD">
</script>
<script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        style: {
            color:  'blue',
            shape:  'pill',
            label:  'pay',
            height: 40
        }

    }).render('#paypal-button-container');
</script>
